@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes bgAnim {
  0% {
    background-position: left 0 top 0;
  }
  100% {
    background-position: left calc(2640px / 1.375) top calc(992px / 1.375);
  }
}

#root {
  height: 100%;
}

body,
html {
  height: 100%;
}

body {
  background: #d3dbff url("assets/bg.png") repeat left top;
  background-size: calc(2640px / 1.375) auto;
  animation: bgAnim 40s infinite linear;
}
